<button id="openAddProfileItem">Add New Item</button>
<dialog id="addProfileItem">
    <button id="closeAddProfileItem" aria-label="close" formnovalidate>X</button>
    <ul id="addProfileItemErrors" class="error"></ul>
    <form action="/profile/items" method="post" enctype="multipart/form-data">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name">

        <label for="desc">Description: </label>
        <input type="text" id="desc" name="desc">

        <label for="price">Price: </label>
        <input type="number" id="price" name="price" step="0.01">

        <label for="image">Image: </label>
        <input type="file" name="image" accept=".jpeg, .png, .jpg" id="image">

        <input type="submit" value="Add">
    </form>
</dialog>