<nav id="profile_nav">
    <ul>
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/profile/items">My Inventory</a></li>
        <li><a href="/profile/settings">Settings</a></li>
    </ul>
</nav>