<form action="/profiles/{{_id}}/review" method="POST" class="new-review-form">
    <label for="commentInput">Comment</label>
    <input type="textarea" id="commentInput" name="comment" value="{{comment}}"><br>
    <label for="ratingInput">Rating</label>
    <input type="text" id="ratingInput" name="rating" value="{{rating}}">
    <button type="submit">Add Review</button>
</form>