

<!DOCTYPE html>
<html lang = "en">
   <head>
      <meta charset="utf-8">
      <title>{{title}}</title>
      <link rel="stylesheet" href="../../public/css/styles.css">
   </head>
   <body class="{{themePreference}}">
   <main>
    <nav id="nav">
      <ul>
        {{#if auth}}
        <li><a href="/logout">Log Out</a></li>
        {{else}}
        <li><a href="/login">Log In</a></li>
        <li><a href="/register">Register</a></li>
        {{/if}}
      </ul>
    </nav>
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.5.1.js"
		integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script src='../public/js/client_side_validation.js'></script>
   </main>
   </body>
</html>