{{!lists all the message chains between the user and all other users they have started a chat with
Also needs to have a way to start a new chat with a user}}
<ul>
    {{#each dmlist}}
    <li>
        <a href="/directmsgs/{{this._id}}">{{this.otherUser}}</a>
    </li>
    {{/each}}
</ul>
{{#unless dmlist}}
<p>You have no dms :(</p>
{{/unless}}