{{!--

login form handlebar template

--}}

<form id="signin-form" name="signin-form" action="/login" method="POST">
    <div id="errors">
        {{#each errors}}
        <p class="error">{{this}}</p>
        {{/each}}
    </div>  
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="{{default_email}}"><br>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" value="{{default_password}}"><br>
        
    <button type="submit" id="submitButton" name="submitButton">Submit</button>
</form>

<script src="../../public/js/client_side_validation.js"></script>