{{!Shows the profiles page. This views a list of everyone's profile (excluding the logged in user)}}
<ul id="user-list">
    {{#each users}}
    <li>
    <a href="/profiles/{{this._id}}">{{this.username}}</a>
    {{/each}}
    </li>
</ul>