{{> profile_nav}}
<hr>
{{#if success}}
<p>Profile updated successfully!</p>
{{/if}}
<form action="/profile/settings" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="{{user.username}}"><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="{{user.email}}"><br>

    <label for="newPassword">Old Password (optional):</label>
    <input type="password" id="newPassword" name="newPassword"><br>

    <label for="newPassword">New Password (optional):</label>
    <input type="password" id="newPassword" name="newPassword"><br>

    <label for="wishlist">Wishlist (optional):</label><button id='addWishlistItem' type="button" >+</button><br>
<!-- Turns out if you have multiple inputs with the same name, it just concatenates them together into an array!!! -->
    {{#each user.wishlist}}
        <input type="text" id="wishlist " name="wishlist" value="{{this}}"><button type="button" >X</button><br>
    {{else}}
        <input type="text" id="wishlist" name="wishlist" value=""><button type="button" >X</button><br>
    {{/each}}

    <button type="submit">Save Changes</button>
</form>


<div>
    <button id="openDeleteAccount">Delete My Account</button>
    <dialog id="deleteAccount">
        <button id="closeDeleteAccount" aria-label="close" formnovalidate>X</button>
        <ul id="deleteAccountErrors" class="error"></ul>
        <form action="/profile/delete" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <label for="submit">Are you absolutely sure you want to delete your account? Doing this
                is an irreversible action and will delete your items, DMs, following/followers, etc.</label>
            <br>
            <input type="submit" value="Yes, I'm absolutely sure">
        </form>
    </dialog>
</div>