{{> profile_nav}}
<hr>
{{#if success}}
<p>Profile updated successfully!</p>
{{/if}}
<form action="/profile/settings" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" value="{{user.username}}"><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="{{user.email}}"><br>

    <label for="password">New Password (optional):</label>
    <input type="password" id="password" name="password"><br>

    <label for="wishlist">Wishlist (optional):</label><button type="button" >+</button><br>
<!-- Turns out if you have multiple inputs with the same name, it just concatenates them together into an array!!! -->
    {{#each user.wishlist}}
        <input type="text" id="wishlist" name="wishlist" value="{{this}}"><button type="button" >X</button><br>
    {{else}}
        <input type="text" id="wishlist" name="wishlist" value=""><button type="button" >X</button><br>
    {{/each}}

    <button type="submit">Save Changes</button>
</form>