@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif, -apple-system,BlinkMacSystemFont,
        "Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
            "slnt" 0;
}

/* Navigation */
nav#nav {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

nav#nav ul {
    list-style: none;
    text-align: center;
}

nav#nav ul li {
    display: inline;
    margin-right: 20px;
}

nav#nav ul li:last-child {
    margin-right: 0;
}

nav#nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav#nav ul li a:hover,
nav#nav ul li a.currentLink { /* Highlights current page */
    color: #0056b3;
}

.alfa-slab-one-regular {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

.currentLink {
    color: grey;
}

.error {
    color: red;
}

div.trade-item {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}
div.trade-item *{
    padding: 5px;
    width: 200px;
    margin: auto;
}

/*Googled how to resize images without stretching:
 https://www.w3schools.com/css/css3_images.asp*/
div.trade-item img { 
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin: auto;
}